/**
 * OpenDota API
 * # Introduction The OpenDota API provides Dota 2 related data including advanced match data extracted from match replays.  **Beginning 2018-04-22, the OpenDota API is limited to 50,000 free calls per month and 60 requests/minute** We offer a Premium Tier with unlimited API calls and higher rate limits. Check out the [API page](https://www.opendota.com/api-keys) to learn more.
 *
 * OpenAPI spec version: 17.6.1
 *
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */
package techprague.nodes.dk.data.apis

import retrofit2.Call
import retrofit2.http.GET
import retrofit2.http.Path

interface HeroesApi {

    /**
     * GET /heroes
     * Get hero data
     * @return Call&lt;Array&lt;Any&gt;&gt;
     */
    @GET("/heroes")
    fun heroesGet(): Call<Array<Any>>

    /**
     * GET /heroes/{hero_id}/durations
     * Get hero performance over a range of match durations
     * @param heroId Hero ID (required)
     * @return Call&lt;Array&lt;Any&gt;&gt;
     */
    @GET("/heroes/{hero_id}/durations")
    fun heroesHeroIdDurationsGet(@Path("hero_id") heroId: Int): Call<Array<Any>>

    /**
     * GET /heroes/{hero_id}/matches
     * Get recent matches with a hero
     * @param heroId Hero ID (required)
     * @return Call&lt;Array&lt;Any&gt;&gt;
     */
    @GET("/heroes/{hero_id}/matches")
    fun heroesHeroIdMatchesGet(@Path("hero_id") heroId: Int): Call<Array<Any>>

    /**
     * GET /heroes/{hero_id}/matchups
     * Get results against other heroes for a hero
     * @param heroId Hero ID (required)
     * @return Call&lt;Array&lt;Any&gt;&gt;
     */
    @GET("/heroes/{hero_id}/matchups")
    fun heroesHeroIdMatchupsGet(@Path("hero_id") heroId: Int): Call<Array<Any>>

    /**
     * GET /heroes/{hero_id}/players
     * Get players who have played this hero
     * @param heroId Hero ID (required)
     * @return Call&lt;Array&lt;Array&lt;Any&gt;&gt;&gt;
     */
    @GET("/heroes/{hero_id}/players")
    fun heroesHeroIdPlayersGet(@Path("hero_id") heroId: Int): Call<Array<Array<Any>>>
}
